animations/*/media/images
animations/*/media/data
animations/*/media/Tex
animations/*/media/texts
animations/*/media/videos/**/partial_movie_files
**/__pycache__
defense/animations/media/images
defense/animations/media/data
defense/animations/media/Tex
defense/animations/media/videos/**/partial_movie_files
defense/animations/media/texts
