animations/*/media/images
animations/*/media/data
animations/*/media/Tex
animations/*/media/texts
animations/*/media/videos/**/partial_movie_files
**/__pycache__
animations/defense/animations/media/images
animations/defense/animations/media/data
animations/defense/animations/media/Tex
animations/defense/animations/media/videos/**/partial_movie_files
animations/defense/animations/media/texts
